<nav class="w-full fixed top-0 z-50 box-border">
  <div class="flex py-2 max-w-5xl mx-8 lg:mx-auto justify-between items-center">
    <div>
      <a href="#head">
        <img src="../assets/img/{{mode == 'dark' ? 'logo' : 'logo-oscuro'}}.png" alt="Logo"
          class="w-20 h-[43px] rounded-md object-cover cursor-pointer">
      </a>
    </div>
    <div class="flex gap-4 lg:gap-6 items-center *:select-none">
      <a href="#experiencia" class="titulo">{{t().menu.exp}}</a>
      <a href="#skills" class="titulo">{{t().menu.skills}}</a>
      <a href="#proyectos" class="titulo">{{t().menu.proyectos}}</a>
      <a href="#sobre-mi" class="titulo">{{t().menu.sobre}}</a>
      <a href="#" class="titulo">{{t().menu.contacto}}</a>
    </div>
    <div class="flex items-center gap-4 cursor-pointer">
      @if(currentLang() == 'es') {
      <span class="hover:scale-110 transition-transform select-none" (click)="setLanguage('en')">ES</span>
      } @else {
      <span class="hover:scale-110 transition-transform select-none" (click)="setLanguage('es')">EN</span>
      }
      <span class="material-symbols-outlined hover:scale-110 transition-transform select-none" (click)="toggleMode()">
        {{ mode === 'light' ? 'light_mode' : 'dark_mode' }}
      </span>
    </div>
  </div>
</nav>
<header class="pt-40 pb-16 max-w-5xl mx-8 lg:mx-auto" id="head">
  <div class="flex gap-28">
    <div class="flip-card relative">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/img/perfil.jpg" alt="Logo" class="rounded-md h-full object-cover animate-moving-shadow">
        </div>
        <div class="flip-card-back">
          <img src="../assets/img/perfil2.jpg" alt="Logo" class="rounded-md h-full object-cover animate-moving-shadow">
        </div>
      </div>
      <div class="orbit orbit-1">
        <div class="badge">🚀 Clean Code</div>
      </div>

      <div class="orbit orbit-2">
        <div class="badge">🎨 Pixel Perfect</div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <span class="text-4xl">{{t().header.title}} <span
          class="!font-semibold text-[var(--primary-color)]">Óscar</span></span>
      <span class="text-xl">+{{getYears()}} {{t().header.desc1}} <span
          class="!font-semibold text-[var(--primary-color)]">Full-Stack Developer</span> {{t().header.desc2}}</span>
      <div class="flex gap-4 *:select-none *:text-sm">
        <div class="estado flex items-center text-center bg-[var(--primary-color-25)]">{{t().header.status}}</div>
        <div
          class="flex cursor-pointer border hover:scale-105 transition-transform border-[var(--text-color)] rounded-full items-center gap-2 py-1 px-4">
          <span class="material-symbols-outlined">forward_to_inbox</span> {{t().header.contact}}
        </div>
      </div>
    </div>
  </div>
</header>
<main class="overflow-x-hidden">
  <section id="experiencia" class="max-w-5xl mx-8 lg:mx-auto pt-14" id="experiencia">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold mb-2">{{t().menu.exp}}</h2>
      <div class="h-1 w-20 mx-auto rounded-full
                  bg-gradient-to-r 
                  from-[var(--primary-color-50)] 
                  to-[var(--primary-color)]">
      </div>
    </div>

    <div class="relative border-l-2 border-[var(--primary-color-50)] ml-4 md:ml-0 space-y-12">
      <!-- DVR Technology -->
      <article
        class="relative pl-12 md:pl-0 opacity-0 translate-y-[-100px] transition-all ease-in-out duration-[2000ms]"
        id="fadeArticle">
        <!-- Dot -->
        <div
          class="absolute left-[-11px] top-0 w-5 h-5 rounded-full bg-[var(--primary-color)] ring-4 ring-[var(--primary-color-25)] shadow-lg">
        </div>
        <!-- Content -->
        <div
          class="relative p-8 rounded-2xl md:ml-12  border border-transparent transition-all duration-500 ease-out hover:-translate-y-1 hover:shadow-xl hover:border-[var(--primary-color-50)] group overflow-hidden">
          <!-- Fondo animado -->
          <div class="absolute inset-0 opacity-0 transition-opacity duration-500 ease-out
              group-hover:opacity-100
              bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
              dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(56,189,248,0.15),rgba(15,23,42,1))]">
          </div>
          <!-- Contenido -->
          <div class="relative z-10">
            <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4 gap-2">
              <h3 class="text-2xl font-bold transition-colors duration-300 group-hover:text-[var(--primary-color)]">
                {{t().experience.title2}}
              </h3>
              <span
                class="px-3 py-1 text-xs font-bold rounded-full bg-[var(--primary-color-10)] text-[var(--primary-color)] transition-all duration-300 group-hover:scale-105">
                02/2024 - {{t().experience.time}}
              </span>
            </div>
            <div class="flex items-center gap-2 mb-4 text-sm font-medium">
              <span class="material-symbols-outlined text-lg transition-transform duration-300 group-hover:rotate-6">
                business
              </span>
              <a href="https://www.nitro-pc.es/" target="_blank"
                class="titulo transition-colors duration-300 hover:text-[var(--primary-color)]">
                DVR Technology SL
              </a>
              •
              <span class="material-symbols-outlined text-lg transition-transform duration-300 group-hover:-rotate-6">
                location_on
              </span> Zaragoza
            </div>
            <p class="mb-6 transition-opacity duration-300 group-hover:opacity-90">
              {{t().experience.description}}
            </p>
            <div class="flex flex-wrap gap-2">
              @for (p of t().experience.pastillas; track $index) {
              <span class="px-3 py-1 rounded-md text-xs font-semibold
                bg-[var(--primary-color-10)]
                text-[var(--primary-color)]
                border border-[var(--primary-color-50)]
                transition-all duration-300
                hover:scale-105 hover:shadow-md">
                {{p.past}}
              </span>
              }
            </div>
          </div>
        </div>
      </article>

      <!-- Previous Role -->
      <article
        class="relative pl-12 md:pl-0 opacity-0 translate-y-[-100px] transition-all ease-in-out duration-[2000ms]"
        id="fadeArticle2">
        <div
          class="absolute left-[-11px] top-0 w-5 h-5 rounded-full bg-[var(--primary-color)] ring-4 ring-[var(--background-color)]">
        </div>

        <div
          class="relative p-8 rounded-2xl md:ml-12 border border-transparent transition-all duration-500 ease-out hover:-translate-y-1 hover:shadow-xl hover:border-[var(--primary-color-50)] group overflow-hidden">

          <!-- Fondo animado con blur -->
          <div
            class="absolute inset-0 opacity-0 transition-opacity duration-500 ease-out group-hover:opacity-100 backdrop-blur-sm bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.75))] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(56,189,248,0.15),rgba(15,23,42,0.85))]">
          </div>

          <!-- Contenido -->
          <div class="relative z-10">

            <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4 gap-2">
              <h3 class="text-2xl font-bold transition-colors duration-300 group-hover:text-[var(--primary-color)]">
                {{t().experience.title}}
              </h3>

              <span
                class="px-3 py-1 text-xs font-bold rounded-full bg-[var(--primary-color-10)] text-[var(--primary-color)] transition-all duration-300 group-hover:scale-105 group-hover:shadow-sm">
                02/2022 - 02/2024
              </span>
            </div>
            <div class="flex items-center gap-2 mb-4 text-sm font-medium">
              <span class="material-symbols-outlined text-lg transition-transform duration-300 group-hover:rotate-6">
                business
              </span>
              <a href="https://www.nitro-pc.es/" target="_blank" class="titulo transition-colors duration-300
                hover:text-[var(--primary-color)]">
                DVR Technology SL
              </a>
              •
              <span class="material-symbols-outlined text-lg transition-transform duration-300 group-hover:-rotate-6">
                location_on
              </span>
              Zaragoza
            </div>

            <p class="mb-6 transition-opacity duration-300 group-hover:opacity-90">
              {{t().experience.description2}}
            </p>

            <div class="flex flex-wrap gap-2">
              @for (p of t().experience.pastillas2; track $index) {
              <span
                class="px-3 py-1 rounded-md text-xs font-semibold bg-[var(--primary-color-10)] text-[var(--primary-color)] border border-[var(--primary-color-50)] transition-all duration-300 hover:scale-105 hover:shadow-md">
                {{p.past}}
              </span>
              }
            </div>

          </div>
        </div>

      </article>
    </div>
  </section>


  <section id="skills"
    class="w-full box-border py-16 my-24 skew-y-1 relative overflow-hidden bg-gradient-to-br  from-[var(--primary-color-10)] via-[var(--background-color)] to-[var(--primary-color-25)]">

    <!-- Glow decorativo -->
    <div class="absolute -top-32 -left-32 w-96 h-96 
              bg-[var(--primary-color-25)] 
              rounded-full blur-3xl opacity-40"></div>

    <div class="absolute -bottom-32 -right-32 w-96 h-96 
              bg-[var(--primary-color-10)] 
              rounded-full blur-3xl opacity-40"></div>

    <div class="max-w-5xl mx-8 lg:mx-auto -skew-y-1 relative z-10">

      <div class="text-center mb-16 skills-show" id="skills-title">
        <h2 class="text-4xl font-bold mb-2">
          {{t().menu.skills}}
        </h2>
        <div class="h-1 w-20 mx-auto rounded-full
                  bg-gradient-to-r 
                  from-[var(--primary-color-50)] 
                  to-[var(--primary-color)]"></div>
      </div>

      <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 mt-8">
        @for (s of skills; track $index) {
        <app-skills [name]="s.name" [score]="s.score"></app-skills>
        }
      </section>

    </div>
  </section>


  <section class="w-full box-border pt-16" id="proyectos">
    <div class="max-w-5xl mx-8 lg:mx-auto">
      <header class="text-4xl font-bold mb-16">{{t().menu.proyectos}}
        <div class="h-1 w-20 rounded-full mt-2
                  bg-gradient-to-r 
                  from-[var(--primary-color-50)] 
                  to-[var(--primary-color)]">
        </div>
      </header>
      <div class="">
        Hola buenas soy los proyectos
      </div>
    </div>
  </section>

  <section id="sobre-mi" class="w-full box-border py-16 my-24 -skew-y-1 relative overflow-hidden bg-gradient-to-br  from-[var(--primary-color-10)] via-[var(--background-color)] to-[var(--primary-color-25)]">
    <div class="absolute -top-32 -left-32 w-96 h-96 
              bg-[var(--primary-color-25)] 
              rounded-full blur-3xl opacity-40"></div>

    <div class="absolute -bottom-32 -right-32 w-96 h-96 
              bg-[var(--primary-color-10)] 
              rounded-full blur-3xl opacity-40"></div>
    <div class="max-w-5xl mx-8 lg:mx-auto relative z-10 skew-y-1">

      <!-- Title with animation class reused -->
      <div class="text-center mb-16 skills-show" id="about-title">
        <h2 class="text-4xl font-bold mb-2">{{t().about.title}}</h2>
        <div class="h-1 w-20 mx-auto rounded-full
                  bg-gradient-to-r 
                  from-[var(--primary-color-50)] 
                  to-[var(--primary-color)]">
        </div>
      </div>

      <!-- Content -->
      <div class="flex flex-col md:flex-row gap-12 items-center skills-show" id="about-content">
        <!-- Image/Decor -->
        <div class="w-full md:w-1/3 flex justify-center">
          <div class="relative w-64 h-64">
            <div class="absolute inset-0 bg-[var(--primary-color-25)] rounded-full blur-2xl animate-pulse"></div>
            <img src="../assets/img/perfil3.jpeg" alt="Profile"
              class="rounded-full w-full h-full object-cover border-4 border-[var(--primary-color-50)] relative z-10 transition-transform hover:scale-105 duration-500">
          </div>
        </div>

        <!-- Text -->
        <div class="w-full md:w-2/3">
          <div
            class="p-8 rounded-2xl bg-[var(--primary-color-10)] border border-[var(--primary-color-25)] backdrop-blur-sm shadow-xl hover:shadow-2xl transition-all duration-500 hover:border-[var(--primary-color-50)] group">
            <p class="text-lg leading-relaxed opacity-90 group-hover:opacity-100 transition-opacity whitespace-pre-line">
              {{t().about.description}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>
<footer class="max-w-5xl mx-auto">
  Footer
</footer>
@if(showButton) {
<div class="w-full fixed flex justify-end bottom-0">
  <a href="#head"
    class="rounded-full select-none cursor-pointer w-12 h-12 flex mr-8 mb-8 items-center justify-center bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)] transition-colors text-[var(--background-color)]"><span
      class="material-symbols-outlined">
      arrow_upward
    </span></a>
</div>
}