/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Tema claro */
.light {
    --background-color: rgb(240, 240, 240);
    --text-color: black;
    --primary-color: #007bff;
    --primary-color-hover: #0057b4;
    --primary-color-25: rgba(0, 123, 255, 0.25);
    --primary-color-10: rgba(0, 123, 255, 0.1);
    --gris: rgb(104, 104, 104);
}

/* Tema oscuro */
.dark {
    --background-color: #1e2331;
    --text-color: rgb(224, 224, 224);
    --primary-color: #bb86fc;
    --primary-color-hover: #955bdb;
    --primary-color-25: rgba(187, 134, 252, 0.25);
    --primary-color-10: rgba(187, 134, 252, 0.1);
    --gris: rgb(145, 145, 145);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.6s ease-in-out;
}